html {
    height: 100%;
}
body{
    font-family: 'Rubik',sans-serif;
    height: 100%;
    border:0em;
    background-color:#3A99F9;

}
#wrapper{
    margin:auto;
    width: 100%;
}

#bodyText{
    margin:auto;
    color:#FFF;
    text-align:center;
    width:30em;
}

#titleText{
    font-weight:500;
    font-size: 5em;
    margin-bottom:0;
    border-bottom:0;
    padding-bottom:0;
}

#subHead{
    font-weight:300;
    font-size: 1.2em;
}

.mouse:hover{
    transition: all 0.2s ease;
    color:#2ecc71;
}

@media only screen and (max-width: 1000px) {
   
}
p{
    margin-top: 1em;
    font-weight:300;
}
a {
    color:#F7FCFF;
    font-weight:400;
    text-decoration: none;
}